.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-logo-spinning {
  width: 100px;
  object-fit: cover;
}
.home-auth-content {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.home-log-in-button {
  src: url(https://fonts.google.com/noto/specimen/Noto+Sans);
  color: var(--dl-color-gray-900);
  cursor: pointer;
  height: 35px;
  box-shadow: rgb(0, 0, 0) 1px 1px 10px 1px;
  border-width: 1px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(78, 78, 78);
}
.home-download-link {
  text-decoration: none;
}
@media(max-width: 479px) {
  .home-container {
    background-image: radial-gradient(circle at center, rgb(164, 164, 164) 0.00%,rgb(0, 0, 0) 62.00%);
  }
  .home-container1 {
    width: 100%;
    height: 501px;
  }
  .home-name-label {
    color: #ffffff;
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-logo-spinning {
    align-self: center;
    margin-top: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-auth-content {
    width: 100%;
    height: 172px;
    align-self: center;
    margin-top: 0px;
  }
  .home-username-input {
    color: var(--dl-color-gray-white);
    align-self: center;
    box-shadow: 1px 5px 10px 1px #000000;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
    background-color: rgb(78, 78, 78);
  }
  .home-log-in-button {
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-tooltip-activator {
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-tooltip {
    align-self: center;
    text-align: center;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-download-link {
    color: #7ee8ff;
    align-self: center;
  }
}
