.passwords-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.passwords-control-elements {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
@media(max-width: 767px) {
  .passwords-container {
    background-image: radial-gradient(circle at center top, rgb(93, 93, 93) 1.00%,rgb(0, 0, 0) 100.00%);
  }
  .passwords-name-label {
    color: #ffffff;
    margin-top: var(--dl-space-space-oneandhalfunits);
    font-family: Noto Sans;
  }
  .passwords-control-elements {
    width: 649px;
    height: 210px;
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .passwords-text {
    color: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .passwords-name-label {
    text-align: center;
  }
  .passwords-control-elements {
    width: 464px;
  }
  .passwords-button {
    color: rgb(255, 255, 255);
    margin-top: var(--dl-space-space-halfunit);
    background-color: rgb(78, 78, 78);
  }
}
